@model Contact;


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 w-100">
            <div class="navbar">
                <a href="~/home/Index">Accueil</a>
                <a href="~/home/Contact">Contact</a>
                <a href="~/auth/login">Login</a>
                <a href="~/auth/register">S'enregistrer</a>
                <a href="~/Contact/GererContact">Gestion des contacts</a>
            </div>
        </nav>
        <h1>Gestion contact</h1>
        <table>
            <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.Prenom</td>
                <td>@Model.Nom</td>
                <td>@Model.Email</td>
                <td>@Model.Id</td>
            </tr>
        </table>
    </header>
</body>
</html>
